.aboutImg {
  width: 30%;
  display: flex;
}


.aboutText {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

.aboutText2 {
  padding: 0 0 50px 14.5%;
}

.art {
  text-align: justify;
}

.aboutText h1 {
  padding-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media(max-width:1400px) {
  .aboutImg {
    width: 50%;
  }

  .aboutText2 {
    padding: 0 0 50px 12%;
  }
}

@media(max-width:900px) {
  .aboutImg {
    width: 80%;
    transform: translateX(10%);
    padding-bottom: 35px;
    border-radius: 5px;
  }

  .aboutText2 {
    padding: 0 0 50px 12%;
    font-size: 0.8rem;
  }

  .row {
    flex-direction: column;
  }

  .aboutText {
    width: 80%;
    transform: translateX(10%);
    font-size: 0.8rem;
  }

  .aboutText2 {
    width: 80%;
    transform: translateX(10%);
    padding: 0;
  }
}