.aboutImg {
  border-radius: 5%;
  height: 500px;
  margin: 0 5vh 5vh 0;
}

.about {
  width: 80%;
}


.aboutText {
  text-align: center;
  font-size: 1.6rem;
  transform: translateY(8vh);
}



.art {
  text-align: justify;
}

.name {
  font-size: 1.6rem;
  color: #3498db;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media(max-width:1300px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .aboutText {
    font-size: 1.3rem;
  }

  .aboutImg {
    border-radius: 5%;
    height: 400px;
    margin: 0;
  }
}

@media(max-width:900px) {
  .aboutText {
    font-size: 1rem;
  }

  .aboutImg {
    border-radius: 5%;
    height: 200px;
    margin: 0;
  }
}