.body {
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

::-webkit-scrollbar {
  color: azure;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #7f8c8d;
}