.contact {
  padding: 15px 30px;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
}


.contact img {
  height: 20vh;
  transition: 0.4s;
}

.contact img:hover {
  filter: brightness(0.6);
}

.GM {
  color: rgb(228, 85, 66) !important;
}

.TWT {
  color: #1da1f2 !important;
}

.contact .iconBox {
  position: relative;
  cursor: pointer;
}

.contact .iconBox:focus {
  outline: none;
}

.contact .iconBox .details {
  position: absolute;
  transform: scaleY(0);
  transition: 0.4s;
  top: 28%;
  left: 23%;
}

.contact .iconBox:hover .details {
  position: absolute;
  transform: scaleY(1);
}

.details p {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}


#copied {
  animation: copied 3s ease;
}

@keyframes copied {
  0% {
    color: transparent;
  }

  20% {
    color: #D44638
  }

  80% {
    color: #D44638
  }

  100% {
    color: transparent;
  }
}

@media(max-width:1600px) {
  .contact .iconBox .details {
    top: 27%;
    left: 26%;
    font-size: 1.2rem;
  }
}

@media(max-width:1300px) {
  .contact .iconBox .details {
    top: 33%;
    left: 30%;
    font-size: 1rem;
  }
}

@media (max-width:900px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact img {
    height: 20vh;
    padding: 8vh;
  }

  .contact .iconBox .details {
    top: 26%;
    left: 39%;
  }

  .details p {
    display: none;
  }
}