.kids {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  transition: 1s;
}

.kids span {
  font-size: 1rem;
}

.mid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.kidText {
  padding: 80px 0 0 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.mg {
  margin-top: 50px;
}

.kids .box {
  margin: 5% 3% 0 5.5%;
  box-sizing: border-box;
}

.kids .box .imgBox {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.kids .box .imgBox img {
  border-radius: 5px;
  width: 30vh;
  height: 25vh;
  object-fit: cover;
  transition: 2s;
}

.kids .box:hover .imgBox img {
  transform: scale(1.2);
}

.smallImg {
  height: 25vh;
  padding: 20px;
}

.show {
  position: relative;
  animation: showPhoto 1s ease forwards;
  border-radius: 5px;
}

.showBtn {
  font-size: 1.2rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(209, 195, 195, 0.527);
  margin-top: 20px;
}

.showBtn:focus {
  outline: none;
}

.closeBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-left: 5px;
  animation: move 3s ease infinite;
  margin-top: 5%;
}

.closeBtn:focus {
  outline: none;
}

.btnLine {
  width: 20px;
  height: 1.5px;
  background: #2c3e50;
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  transform: rotateZ(45deg) translateY(8px);
  border-radius: 2px;
}

.erase {
  position: relative;
  animation: hidePhoto 1s ease forwards;
  border-radius: 5px;
}

.btnLineSec {
  width: 20px;
  height: 1.5px;
  background: #2c3e50;
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  transform: rotateZ(-45deg) translateY(-8px);
  border-radius: 2px;
}

@keyframes showPhoto {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes hidePhoto {
  0% {
    width: 70%;
  }

  100% {
    width: 0;
  }
}

@media(max-width:900px) {
  .kids {
    display: flex;
    flex-direction: column;
  }

  .kids .box .imgBox img {
    height: 30vh;
    width: 80%;
    transform: translateX(11%);
  }
}