.on {
  font-size: 1.2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(209, 195, 195, 0.527);
  animation: 0.4s SlideUp ease forwards;
  outline: none;
  margin: 0;
  position: fixed;
  transform: translateY(60px);
  z-index: 100;
  text-align: center;
  padding: 0;
}

.off {
  display: none;
}

ul li {
  color: #fff;
  list-style-type: none;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

li:hover {
  background-color: #7f8c8d;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

@keyframes SlideUp {
  0% {
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    color: #2c3e50;
    font-size: 1.2rem;
    background-color: rgba(209, 195, 195, 0.527);
  }
}


@media(max-width:800px) {
  .on {
    width: 100%;
  }
}