.slider {
  position: relative;
  display: flex;
  padding: 0 !important;
}

.sliderImg {
  height: 100vh;
  width: 110%;
  object-fit: cover;
  transition: 1s;
  filter: brightness(1);
}

.sliderImg2 {
  height: 100vh;
  width: 110%;
  object-fit: cover;
  transition: 1s;
  filter: brightness(0.8);
}

.dot-wrapper {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 46.5%;
  justify-content: space-between;
}

.dot {
  width: 1.8vh;
  height: 1.8vh;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 6px 5px rgba(126, 153, 199, 0.84);
  -moz-box-shadow: 0px 0px 6px 5px rgba(126, 153, 199, 0.84);
  box-shadow: 0px 0px 6px 5px rgba(126, 153, 199, 0.84);
  transition: 0.8s;
  margin: 1vh;
}

.active-dot {
  width: 2vh;
  height: 2vh;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 6px 5px rgba(224, 69, 69, 1);
  -moz-box-shadow: 0px 0px 6px 5px rgba(224, 69, 69, 1);
  box-shadow: 0px 0px 6px 5px rgba(224, 69, 69, 1);
  transition: 1s;
  margin: 1vh;
}

.arrImg {
  height: 10vh;
  padding: 0;
}

.arrImg:focus {
  transform: scale(115%);
}

.btnSR {
  position: absolute;
  bottom: 45%;
  right: 3%;
  border: none;
  outline: none !important;
  background: none;
  transform: scale(0);
  transition: 0.4s;
}

.btnSL {
  position: absolute;
  top: 45%;
  left: 3%;
  border: none;
  outline: none !important;
  background: none;
  z-index: 99;
  transform: scale(0);
  transition: 0.4s;
}


.slider:hover .btnSR {
  transform: scale(1);
  transition: 0.4s;
}

.slider:hover .btnSR:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.slider:hover .btnSL:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.slider:hover .btnSL {
  transform: scale(1);
  transition: 0.4s;
}